
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
}


body{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--Slate-300);
}


.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--White);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 3rem auto;
    width: 375px;
}
.imgClass {
   max-width: 100%;
   width: 100%;
   border-radius: 0.5rem;
}
h2 {
    font-size: 1.7rem;
    color: var(--Slate-900);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.1;
}
p {
    font-size: 1rem;
    color: var(--Slate-500);
    margin: 0.5rem .8rem;
    text-align: center;
     
    word-spacing: 3px;
}












.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }